.page {
  height: 100vh;
}

.main-content {
  height: calc(100% - var(--headerHeight));
  padding-top: var(--headerHeight);
  width: 100%;
  display: flex;
}

.shop-pic {
  width: 70%;
  background-image: url(../img/exterior-sign.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.contact-form-container {
  width: 30%;
  margin: 5rem auto;
  color: #fff;
  overflow: hidden;
}
.contact-form {
  height: 100%;
  width: 80%;
  margin: auto;
  overflow: auto;
}

.contact-form h1 {
  margin-bottom: 1rem;
  font-size: 2rem;
  color: var(--misto);
  text-align: center;
}
.form-intro {
  font-size: 1.4rem;
}
.basic-info {
  display: grid;
  grid-template-columns: 1fr 0.1fr 1fr;
  margin-top: 1rem;
}
.contact-form label {
  display: block;
  margin-bottom: 5px;
  font-size: 1.2rem;
  color: var(--misto);
  font-weight: 400;
  margin-top: 1rem;
}

.contact-form input,
.contact-form select,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 1rem;
  border: 1px solid var(--londofog);
  border-radius: 4px;
  font-size: 1rem;
}

.contact-form button {
  width: 100%;
  padding: 10px;
  background-color: var(--londofog);
  color: var(--misto);
  border: none;
  border-radius: 4px;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-form button:hover {
  background-color: var(--crema);
}

button[type="submit"] {
  margin-top: 30px;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.popup-content {
  width: 300px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--misto);
  padding: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  color: var(--londofog);
  border-radius: 4px;
}
.popup-content div {
  margin-bottom: 10px;
}
#close-popup {
  margin-top: 20px;
  width: 100px;
  padding: 10px;
  background-color: var(--londofog);
  color: var(--misto);
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

@media screen and (max-width: 1920px) {
  .shop-pic {
    width: 60%;
  }
  .contact-form-container {
    width: 40%;
  }
}
@media screen and (max-width: 1680px) {
  .shop-pic {
    width: 55%;
  }
  .contact-form-container {
    width: 45%;
  }
}
@media screen and (max-width: 1440px) {
  .shop-pic {
    width: 50%;
  }
  .contact-form-container {
    width: 50%;
    margin: 2rem auto;
  }
  .contact-form h1 {
    font-size: 1.8rem;
  }
  .form-intro {
    font-size: 1.2rem;
  }
  .contact-form label {
    font-size: 1rem;
  }
  .contact-form input,
  .contact-form select,
  .contact-form textarea {
    padding: 6px;
    font-size: 0.8rem;
  }
  .contact-form button {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 1024px) {
  .basic-info {
    grid-template-columns: 1fr;
  }
  .contact-form-container {
    width: 40%;
    margin: 5rem auto;
  }
  .shop-pic {
    width: 60%;
  }
  .contact-form h1 {
    font-size: 2rem;
  }
  .form-intro {
    font-size: 1.4rem;
  }
  .contact-form label {
    font-size: 1.2rem;
  }
  .contact-form input,
  .contact-form select,
  .contact-form textarea {
    padding: 10px;
    font-size: 1rem;
  }
  .contact-form button {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 880px) {
  .basic-info {
    display: grid;
    grid-template-columns: 1fr 0.1fr 1fr;
  }
  .main-content {
    height: auto;
    display: flex;
    flex-direction: column-reverse;
  }
  .contact-form-container {
    width: 100%;
    overflow: auto;
    margin: 5rem auto;
  }
  .shop-pic {
    width: 100%;
    height: 300px;
  }
}

@media screen and (max-width: 580px) {
  .basic-info {
    display: grid;
    grid-template-columns: 1fr;
  }
  .main-content {
    flex-direction: column;
  }

  .contact-form-container {
    margin: 3rem auto;
    padding: 0 1.5rem;
  }
  button[type="submit"] {
    margin-top: 1rem;
  }
  .contact-form label {
    margin-bottom: 0;
  }
}
