article {
  /* width: 80%; */
  margin: 0 auto 2rem;
  padding-top: var(--headerHeight);
}
.arrow {
  /* height: 80px; */
  display: flex;
  color: var(--misto);
  font-weight: 900;
  justify-content: center;
  align-items: center;
  width: 200px;
  margin: 0 auto 20px;
}
.pre,
.next {
  width: 45px;
  height: 45px;
  line-height: 45px;
  border-radius: 50%;
  text-align: center;
  color: var(--misto);
  background-color: var(--londofog);
  font-size: 18px;
  cursor: pointer;
}
.pre {
  margin-right: 20px;
}
.next {
  margin-left: 20px;
}
article img {
  width: 100%;
}

.page-num {
  font-size: 20px;
}
@media screen and (max-width: 1920px) {
}
@media screen and (max-width: 1440px) {
}
@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 880px) {
  article {
    width: 100%;
  }
}

@media screen and (max-width: 580px) {
}
