* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --misto: #c4d3d9;
  --londofog: #c4d3d9;
  --brevo: #dbc0a0;
  --crema: #a97e4d;
  --londofog: #3e5459;
  --robusta: #403223;
  --dark: #212121;
  --headerHeight: 9rem;
  --logoHeight: 5.5rem;
}
a {
  text-decoration: none;
  color: #ffffff;
}
a,
img {
  border: 0;
}

ul {
  list-style: none;
}

body {
  min-width: 320px;
  background-color: var(--dark);
  font-size: 14px;
}

.pirata-one-regular {
  font-family: "Pirata One", system-ui;
  font-weight: 400;
  font-style: normal;
}
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.josefin-sans-regular {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.josefin-sans-bold {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 900;
  font-style: normal;
}
.poiret-one-regular {
  font-family: "Poiret One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.poiret-one-bold {
  font-family: "Poiret One", sans-serif;
  font-weight: 900;
  font-style: normal;
}
.oswald-regular {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.oswald-bold {
  font-family: "Oswald", sans-serif;
  font-weight: 900;
  font-style: normal;
}
.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.transparent {
  color: transparent;
}

.sub-title h2 {
  height: 5rem;
  line-height: 5rem;
  background-color: var(--misto);
  color: var(--dark);
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
}

header {
  width: 100%;
  height: var(--headerHeight);
  background-color: var(--crema);
  color: var(--dark);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 99;
}
header .logo {
  padding-left: 2rem;
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header .logo img {
  height: var(--logoHeight);
}

nav {
  width: 55%;
  display: flex;
  justify-content: flex-end;
  align-self: center;
}

nav .nav-item {
  flex: 1;
}

nav .nav-item .nav-btn {
  height: 2.8rem;
  line-height: 2.8rem;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2rem;
}
nav .nav-item .nav-btn:hover {
  background-color: var(--robusta);
  cursor: pointer;
}
.nav-active {
  background-color: var(--dark);
}
nav .nav-item .nav-active:hover {
  background-color: var(--rufous);
  cursor: default;
}
section p {
  color: var(--misto);
  font-size: 1.2rem;
  padding: 2rem 1rem;
}

footer {
  height: 12rem;
  background-color: var(--crema);
  color: var(--misto);
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
}
footer .logo {
  height: 100%;
  overflow: hidden;
  padding: 0.8rem 2rem;
}
footer .logo img {
  height: 100%;
  border-radius: 1rem;
}
footer .logo:hover {
  cursor: pointer;
}

footer .contact {
  line-height: 2rem;
  padding-top: 1rem;
}
footer .contact .fa-solid {
  font-size: 2rem;
  color: var(--brevo);
}

footer .footer-links {
  line-height: 2rem;
  padding-top: 1rem;
}

.social-btns .btn,
.social-btns .btn:before,
.social-btns .btn .fa {
  transition: all 0.35s;
  transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
}
.social-btns .btn:before {
  top: 90%;
  left: -110%;
}
.social-btns .btn .fa {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}
.social-btns .btn.twitter:before {
  background-color: var(--crema);
}
.social-btns .btn.twitter .fa {
  color: var(--crema);
}

.social-btns .btn.instagram:before {
  background-color: var(--londofog);
}
.social-btns .btn.instagram .fa {
  color: var(--londofog);
}
.social-btns .btn.pinterest:before {
  background-color: var(--robusta);
}
.social-btns .btn.pinterest .fa {
  color: var(--robusta);
}
.social-btns .btn:focus:before,
.social-btns .btn:hover:before {
  top: -10%;
  left: -10%;
}
.social-btns .btn:focus .fa,
.social-btns .btn:hover .fa {
  color: #fff;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.social-btns {
  height: 3rem;
  font-size: 0;
  padding-top: 1rem;
  padding-right: 1rem;
}

.social-btns .btn {
  display: inline-block;
  background-color: #fff;
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  margin: 0 1rem;
  text-align: center;
  position: relative;
  overflow: hidden;
  border-radius: 28%;
  box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.1);
  opacity: 0.99;
}
.social-btns .btn:before {
  content: "";
  width: 120%;
  height: 120%;
  position: absolute;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.social-btns .btn .fa {
  font-size: 2rem;
  vertical-align: middle;
}
@media screen and (max-width: 1440px) {
  * {
    --headerHeight: 8.5rem;
    --logoHeight: 5rem;
  }
  nav .nav-item .nav-btn {
    height: 2.8rem;
    line-height: 2.8rem;
    font-size: 1rem;
  }
  nav {
    width: 70%;
  }
  footer .logo {
    height: 90%;
  }
}

@media screen and (max-width: 1024px) {
  html {
    font-size: 12px;
  }
  * {
    --headerHeight: 10rem;
    --logoHeight: 5.5rem;
  }
  header .logo {
    padding-left: 2rem;
  }
  nav .nav-item .nav-btn {
    height: 3rem;
    line-height: 3rem;
    font-size: 1.8rem;
  }
  nav {
    width: 60%;
    flex-wrap: wrap;
  }
  nav .nav-item {
    flex: 25.5%;
  }
  .sub-title h2 {
    height: 5rem;
    line-height: 5rem;
    font-size: 1.8rem;
  }
  section p {
    font-size: 1rem;
    padding: 2rem 1rem;
  }
  footer .contact,
  footer .footer-links {
    font-size: 1rem;
    line-height: 1.8rem;
  }
  footer .logo {
    height: 80%;
  }
}
@media screen and (max-width: 880px) {
  nav .nav-item .nav-btn {
    height: 3rem;
    line-height: 3rem;
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 580px) {
  * {
    --headerHeight: 5rem;
    --logoHeight: 3rem;
  }
  header .logo {
    padding-left: 1rem;
  }
  nav .nav-item .nav-btn {
    height: 1.8rem;
    line-height: 1.8rem;
    font-size: 0.9rem;
  }

  .sub-title h2 {
    height: 5rem;
    line-height: 5rem;
    font-size: 1.6rem;
  }
  section p {
    font-size: 0.8rem;
    padding: 2rem 1rem;
  }
  footer {
    height: 6rem;
  }
  footer .contact .fa-solid {
    font-size: 1rem;
  }
  .social-btns {
    height: 1.5rem;
    padding-top: 1rem;
    padding-right: 0.5rem;
  }
  .social-btns .btn {
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    margin: 0 0.5rem;
  }
  .social-btns .btn .fa {
    font-size: 1rem;
  }
  footer .contact,
  footer .footer-links {
    font-size: 0.6rem;
    line-height: 1rem;
  }
}
