.content {
  display: grid;
  grid-template-columns: 0.2fr 0.8fr;
}

article {
  width: 80%;
  margin: 0 auto;
  padding-top: var(--headerHeight);
}
article img {
  width: 100%;
}
@media screen and (max-width: 1024px) {
  article {
    width: 100%;
  }
}
